<!DOCTYPE html>

<html>
    <head>
        <title>404 Error</title>
        <link rel="icon" href="/img/pic2.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{>para}}
        </div>
        {{>footer}}
    </body>
</html>